body {
  margin: 0px !important; /* This keeps the background fixed while scrolling */
}

.radix-themes:where([data-is-root-theme='true']) {
  max-height: 100vh;
  background-image: url('../../public/back.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
}